:root{
    --main-color:#1ba7a7;
    --main-font-size: 
}
body{
    margin: 0;
    padding: 0;
   font-family: roboto;
   overflow-x: hidden;
}
/* header-1 */
.header{
    display:grid;
    width: 100%;
    height: 160px;
    grid-template-rows: repeat(2,1fr);
}
.header_1{
    background-color: var(--main-color);
    box-shadow: 0 0 2px 0;
    width: 100%;
}
.-header-11{
    display: flex;
    padding:10px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
/* website logo */
.-header-logo>img{
    height: 1.5rem;
    width: auto;
}
/* user adresss and near location */
.-location{
    display: flex;
   cursor: pointer;
}
/* search product */
.-search{
    width: 40rem;
    background-color: white;
    border-radius: 3px;
}
.-search>input{
    width: 31rem;
    height: 2.9rem;
    border: none;
    font-size: 1.1rem;
    outline: none;
}
.-search>button{
    font-size: 1.1rem;
    color: black;
    background-color: rgb(249, 204, 3);
    width: 6.87rem;
    height: 3.2rem;
    box-shadow:0 1px 1px 0 rgb(245, 200, 2);
    border-radius:0 2px 2px 0;
    border: none;
    cursor: pointer;
}
/* customer number and support center */
.-suppot-center{
    font-size: 1.5rem;
}
/* header-2 */
.-header-21{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    font-size: 1.1rem;
}
/* home-features and dropdown menu */
.-header-Nav-part1{
    display: flex;
    align-items: center;
}
.nav-item{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;
}
.-header-Nav-part1>div
   {
    margin-left: 20px;
    cursor: pointer;
   }
   /* button-like add to cart and like user interaface */
.-header-Nav-part2>i{
    margin-left:20px ;
    cursor: pointer;
}   
.-header-Nav-part2>button{
    height: 45px;
    color: var(--main-color);
    border: none;
    background-color: #e3f8f8;
    cursor: pointer;
}
/* -main-front-of websote */
.container_banner_1{
    display: flex;
  align-items: center;
    width: 100%;
    height: 31rem;
    font-size: 1.2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(project-image-1/banner-1.jpg);  
}
.container_banner_1>div{
   margin-left: 100px;
}
/* button for shop Now */
.container_banner_1>div>button{
    display: flex;
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:var(--main-color) ;
    border: none;
    box-shadow: 0 2px 4px 0 gray;
    border-radius: 5px;
    cursor: pointer; 
}
.container_banner_1>div>button:hover{
    height: 45px;
    width: 110px;
    transition: 0.2ms;
   margin-left: 10px;
}
/* discount offer and populer product */
.container_banner_2{
    display: grid; 
    height: 200px;
    grid-template-columns:repeat(4,1fr) ;
    gap:40px;
    padding: 50px;
}
.box>span{
    margin-left: 20px;
    font-size: 1.15rem;
}
/* shop now link */
.box>a{
    margin-left: 20px;
    font-size: 1.1rem;
}
.offer{
   font-family: 'Courier New', Courier, monospace;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: rgb(195, 202, 202);
    border-radius: 10px;
    box-shadow: 0 0.5px 1px 0;
    font-size: 1.3rem;
    justify-content: center;
    opacity: 1;
}
.box:hover{
    animation-name: blurAnimation;
    animation-duration: 2s;
}
@keyframes blurAnimation{
    from{opacity: 0.6;}to
    {opacity:1;}
}
/* container-2-image */
.box1{
background-image: url(project-image-1/banner-21.jpg);

}
.box2{
    background-image: url(project-image-1/banner-22.jpg);
}
.box3{
background-image: url(project-image-1/banner-23.jpg);
}
.box4{
    background-image: url(project-image-1/banner-24.jpg);
}
/* shop-by-categpries */
.shop_by_categories{
   padding: 50px; 
}
.shop_by{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    height: 250px;
    gap: 20px;
}
.shop{
    background-color: #f0f0f2;
   border-radius: 10px;
   padding: 10px;
}
/* show the product tittle and quantity */
.shop1{
 padding: 10px;
 gap: 10px;
}
/* Part of image shop */
.shop2{
    display: flex;
    justify-content: center;
}
/* image height */
.shop>.shop2>img{
    height: 150px;
}

.categories{
    font-size: 1.2rem;
}
/* product quantity font size and family */
.quantity{
    font-size: 1.05rem;
    font-family: robot;
    color: #949494;
}
/* menu-dropdown */
.dropdown{
    position: absolute;
    top: 120%;
    left: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0;
    z-index: 100px;
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s ease;
}
.nav-item:hover .dropdown{
opacity: 1;
visibility: visible;
transform: translateY(0);
}
.dropdown>p{
    margin-left: 17px;
}
.footer{
    height: 450px;
    background-color: rgb(8, 19, 20);
    color: white;
}
.footer1{
   padding: 50px 75px 50px 75px;
   display: flex;
  justify-content: space-between;
  gap: 70px;
  
}
.footer-logo>img{
    height: 40px;
}